/* * { 
  image-rendering: high-quality !important;
  shape-rendering: geometricPrecision !important;
  text-rendering: geometricPrecision !important;
} */

/* ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner {
  background: rgb(240, 241, 244);
}

::-webkit-scrollbar-thumb {
  background: rgba(105, 112, 125, 0.5);
  -webkit-background-clip: content-box;
  background-clip: content-box;
  border-radius: 16px;
  border: 4px solid rgb(240, 241, 244);
} */

.slick-dots li {
    background: #e6e8e5;
    border-radius: 50%;
  }
  
  .slick-dots li:hover {
    background: #f37e7e;
  }
  
  .slick-dots .slick-active {
    background: #e53e3e;
    border-radius: 50%;
  }
  
  .slick-dots li button:before {
    display: none;
  }

  .slick-slide:last-child {
    border-right: 0 !important;
  }
  
  @media (max-width: 768px) {
    .big_slider ul.slick-dots {
      /* top: -1rem; */
      position: relative;
    }
  
    .customer_slider ul.slick-dots {
      top: 0;
      position: relative;
    }
  
    .news_slider ul.slick-dots {
      /* top: -4.375rem; */
      position: relative;
    }
  
    .news_slider .slick-dots li {
      height: 0.75rem;
      width: 0.75rem;
    }
  
  
  
    .slick-dots .slick-active,
    .slick-dots li {
      width: 0.75rem;
      height: 0.75rem;
    }
  }
  
  @media (max-width: 1024px) {
  
    .slick-dots .slick-active,
    .slick-dots li {
      width: 0.9375rem;
      height: 0.9375rem;
    }
  }
  
  .chakra-popover__popper {
    z-index: 9999 !important;
  }
  
  @keyframes shadowShine {
    from {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .5)
    }
  
    to {
      box-shadow: 0 0 100px 10px rgba(255, 255, 255, .5),
        0 0 110px 10px rgba(250, 250, 250, .5);
    }
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }